@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
body{
  background-color: black;
  color: white;
  overflow-x: hidden;
}
*{
  overflow-x: hidden;
  box-sizing: border-box;
}
.App{
  overflow-x: hidden;
}
.alignment{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-items: center;
  row-gap: 30px;
}
.scrollbar::-webkit-scrollbar {
  width: 15px; 
  /* position: relative; */
  /* left: 12px; */
  position: relative !important;
  left: 112px;
  
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(148, 143, 143);
  outline: 1px solid rgb(95, 96, 96);
  border-radius: 10px;
  position: relative;
  
  
}
.scrollbar::-webkit-scrollbar-track
{
  position: relative;
  /* right: 12px; */
  /* left: 122px; */
	-webkit-box-shadow: inset 0 0 6px rgba(163, 157, 157, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.box::-webkit-scrollbar {
  width: 15px; 
  /* position: relative; */
  /* left: 12px; */
  opacity: 0;
  position: relative !important;
  /* left: 112px; */
}
.individual:hover{
  background-color: #49A5C3;
}
.chat-head{
  background: linear-gradient(180deg, #3A6F86 0%, rgba(112, 207, 220, 0) 100%);
}
.scroll{
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width:412px) {
  .alignment{
    grid-template-columns: repeat(1,1fr);
    justify-content: start;
    align-items: start;
  }
  body{
    overflow-x: hidden;
  }
}
